@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to user management Api Project</h1>
    <p>using <a href="https://docs.microsoft.com/aspnet/core"> ASP.NET Core</a>.</p>
</div>
